body{
background-color: #eee;
}

.pazzlePartHolder{
z-index: 1000;
width: 50px;
height: 50px;
overflow: hidden;
display: inline-block;
}

.topOfTheRow{
float: left;
display: inline-block;
display: inline;
}

#pazzleHolder{
z-index: 0;
margin-left: 25%;
border: 2px solid black;
width: 600px;
height: 600px;
}
